{% extends 'base.html' %}

{% block Title %}
    {{title}}
{% endblock Title %}

{% block pageTitle %}
    {{title}}
{% endblock pageTitle %}

{% block contents %}
    {{content}}
    <ul class="nav">

        <li class="nav-item">
            <a class="nav-link" href="/blog">
                All-post
            </a>
    
        </li>
    
        {% for dataCategory in Categories  %}
        <li class="nav-item">
            <a class="nav-link" href="/blog/category/{{dataCategory.category}}">
                {{dataCategory.category}}
            </a>
    
        </li>
        {% endfor %}
    </ul>
        <h1>{{ Posts.judul }}</h1>
        <p>{{ Posts.publish }}</p>
        <p>{{ Posts.body }}</p>

{% endblock contents %}
    
    