{% extends 'base.html' %}

{% block Title %}
    {{title}}
{% endblock Title %}

{% block pageTitle %}
    {{title}}
{% endblock pageTitle %}

{% block contents %}
    {{content}}

    <ul class="nav">

        <li class="nav-item">
            <a class="nav-link" href='{% url 'blog:index' %}'>
                All-post
            </a>
    
        </li>
    
        {% for dataCategory in Categories  %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'blog:categoryPost' categoryInput=dataCategory.category %}">
                {{dataCategory.category}}
            </a> 
    
        </li>
        {% endfor %}
    </ul>
    
    {% for post in Posts %}
        <a href="{% url 'blog:detailPost' slugInput=post.slug %}">
            <h1>{{ post.judul }}</h1>
        </a>
        <p>{{ post.publish }}</p>
        <p>{{ post.body|truncatechars:200 }}</p>
    {% endfor %}
        
{% endblock contents %}
    
    